/* for max-device-width: 700px */
.container {
  height: 100%;
  background: url('../assets/images/sun_storm_large.jpg') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

/*div for creating blur effect */
.weatherScreen {
  height: 100%;
  padding: 2.5rem 1.5rem;
  height: calc(100% - 5rem);
}

@supports ((-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))) {
  .weatherScreen {
    background-color: linear-gradient(2deg, rgb(0, 0, 0) 50%, 90%, rgb(255, 165, 0) 100%);
    -webkit-backdrop-filter: blur(25px) contrast(0.8);
    backdrop-filter: blur(25px) contrast(0.8);
  }
}

/* weather information */
.weatherWrapper {
  height: 100%;
  background: url('../assets/images/sun_storm_original.jpg') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px #0c0c0c;
  overflow: hidden;
}

/* detailed weather information */
/* .detailedCardWrapper {
  height: 100%;
  background: url('./assets/images/sun_storm_original.jpg') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px #0c0c0c;
  overflow: hidden;
} */

@media screen and (min-device-width: 700px) {
  .weatherScreen {
    height: 100%;
    padding: 5rem 4rem;
    height: calc(100% - 10rem);
  }
}

@media screen and (min-width: 1200px) {
  .weatherScreen {
    height: 100%;
    padding: 6rem 5rem;
    height: calc(100% - 12rem);
  }
}
